<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <!-- Age -->
        <label for="age">Age: </label><input type="number" min="10" max="100"><br>
        <!-- Gender-->
        <input type="radio" id="genderMale" name="gender"><label for="gender"> Male</label><br>
        <input type="radio" id="genderFemale" name="gender"><label for="gender"> Female</label><br>
        <input type="radio" id="genderOther" name="gender"><label for="gender"> Other</label><br>
        <br><br>
        <!-- Relationship Status -->
        <input type="radio" id="relationshipStatusYes" name="relationshipStatus"><label for="relationshipStatus"> In a relationship</label><br>
        <input type="radio" id="relationshipStatusSingle" name="relationshipStatus"><label for="relationshipStatus"> Single</label><br>
        <input type="radio" id="relationshipStatusMarried" name="relationshipStatus"><label for="relationshipStatus"> Married</label><br>
        <input type="radio" id="relationshipStatusDivorced" name="relationshipStatus"><label for="relationshipStatus"> Divorced</label><br>
        <br><br>
        <!-- Occupation -->
        <input type="radio" id="occupationUniStud" name="occupation"><label for="occupation"> University Student</label><br>
        <input type="radio" id="occupationSchStud" name="occupation"><label for="occupation"> School Student</label><br>
        <input type="radio" id="occupationSalWrkr" name="occupation"><label for="occupation"> Salaried Worker</label><br>
        <input type="radio" id="occupationRetired" name="occupation"><label for="occupation"> Retired</label><br>
        <br><br>
        <!-- Media User -->
        <input type="radio" id="mediaUserYes" name="mediaUser"><label for="mediaUser"> Yes</label><br>
        <input type="radio" id="mediaUserNo" name="mediaUser"><label for="mediaUser"> No</label><br>
        <br><br>
        <!-- Average Time Spent on Social Media Every Day -->
        <select name="avgTime" id="avgTime">
            <option value="Less than an Hour">Less than an Hour</option>
            <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
            <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
            <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
            <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
            <option value="More than 5 hours">More than 5 hours</option>
        </select>
        <br><br>
        <!-- How often do you find yourself using social media without a specific purpose? -->
    </form>
</body>
</html>