<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mental Health Survey</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item profile">
            <button style="color: white;" class="btn-block navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal" id="username"></h5>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Log Out</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item menu-items" id="dashboard">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items" id="survey">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Survey</span>
            </a>
          </li>
          <li class="nav-item menu-items" id="report">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Report</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Account</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><form action="/login" method="get"><button class="btn-inverse-info" type="submit">Login</button></form></li>
                <li class="nav-item"><form action="/register" method="get"><button class="btn-inverse-info" type="submit">Register</button></form></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
         
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <!-- Not sure what this code is for
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Project Goal</h4>
                    </div>
                    -->
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                            <!-- Q1 (db name: age) -->
                            <div class="preview-item border-bottom">
    <form id="formData">
        <div class="preview-item border-bottom">
            <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                    <label style="font-size: 16px; font-weight: 600;" for="origin">Current Location: </label>
                    <span id="originText">Detecting...</span><br><br>
                </div>
            </div>
        </div>

               
<!-- Age -->
<div class="preview-item border-bottom">
    <div class="preview-item-content d-sm-flex flex-grow">

        <div class="flex-grow">
            <label style="font-size: 16px; font-weight: 600;" for="age">Age: </label>
            <input required type="number" id="age" name="age" min="0" max="100" required><br>
        </div>
    </div>
</div>

<div class="preview-item border-bottom">
    <div class="preview-item-content d-sm-flex flex-grow">

        <div class="flex-grow">
            <label style="font-size: 16px; font-weight: 600;" for="gender">Gender: </label>
            <select id="gender" name="gender">
                <option value="Male" required>Male</option>
                <option value="Female" required>Female</option>
                <option value="Other" required>Other</option>
            </select>

        </div>
    </div>
</div>

<div class="preview-item border-bottom">
    <div class="preview-item-content d-sm-flex flex-grow">

        <div class="flex-grow">
            <label style="font-size: 16px; font-weight: 600;" for="relationshipStatus">Relationship Status: </label>
            <select id="relationshipStatus" name="relationshipStatus">
                <option value="In a relationship" required>In a relationship</option>
                <option value="Single" required>Single</option>
                <option value="Married" required>Married</option>
                <option value="Divorced" required>Divorced</option>
            </select>
        </div>
    </div>
</div>

<div class="preview-item border-bottom">
    <div class="preview-item-content d-sm-flex flex-grow">

        <div class="flex-grow">
            <label style="font-size: 16px; font-weight: 600;" for="occupation">Occupation: </label>
            <select name="occupation">
                <option value="University Student" required>University Student</option>
                <option value="School Student" required>School Student</option>
                <option value="Salaried Worker" required>Salaried Worker</option>
                <option value="Retired" required>Retired</option>
            </select>

        </div>
    </div>
</div>

<div class="preview-item border-bottom">
    <div class="preview-item-content d-sm-flex flex-grow">

        <div class="flex-grow">
            <label style="font-size: 16px; font-weight: 600;" for="mediaUser">Do you use social media? </label>
            <input type="radio" id="mediaUserYes" name="mediaUser" value="Yes" required><label for="mediaUserYes"> Yes</label>
            <input type="radio" id="mediaUserNo" name="mediaUser" value="No" required><label for="mediaUserNo"> No</label><br><br>
        </div>
    </div>
</div>

<div class="preview-item border-bottom">
    <div class="preview-item-content d-sm-flex flex-grow">

        <div class="flex-grow">
        <!-- Average Time Spent on Social Media Every Day -->
        <label style="font-size: 16px; font-weight: 600;" for="avgTime">Average time spent on social media every day: </label>
        <select required name="avgTime" id="avgTime">
            <option value="Less than an Hour">Less than an Hour</option>
            <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
            <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
            <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
            <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
            <option value="More than 5 hours">More than 5 hours</option>
        </select><br><br>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div id="carouselForm" class="carousel slide">
        <div class="carousel-inner">
            <!-- Carousel items go here -->
            <div class="carousel-item active">
                <label for="introduction">The following questions are on a scale from 1 (not often) to 5 (most often).</label>
            </div>

            <!-- Slide 1 -->
            <div class="carousel-item">
                <label for="noPurpose">9. How often do you find yourself using social media without a specific
                    purpose?</label><br>
                
                1<input required type="range" class="slidecontainer" id="noPurpose" name="noPurpose" min="1"
                    max="5" value="0" onchange="showSize('lblQ9', this.value);">
                <label id="lblQ9"></label>5
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <label for="distractionFreq">10. How often do you get distracted by social media when you are busy doing
                    something?</label><br>
               1 <input required type="range" class="slidecontainer id="distractionFreq" name="distractionFreq" min="1"
                    max="5" value="0" onchange="showSize('lblQ10', this.value);">
                <label id="lblQ10"></label>5
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <label for="restlessLvl">11. Do you feel restless if you haven’t used social media in a while?</label><br>
                1<input required type="range" class="slidecontainer" id="restlessLvl" name="restlessLvl" min="1"
                    max="5" value="0" onchange="showSize('lblQ11', this.value);">
                <label id="lblQ11"></label>5
            </div>

            <div class="carousel-item">
                <label for="distractionSusceptability">12. How easily distracted are you?</label><br>
                1<input required type="range" class="slidecontainer" id="distractionSusceptability" name="distractionSusceptability" min="1"
                    max="5" value="0" onchange="showSize('lblQ12', this.value);">
                <label id="lblQ12"></label>5
            </div>

            <div class="carousel-item">
                <label for="botheredByWorries">13. How much are you bothered by worries?</label><br>
                1<input required type="range" class="slidecontainer" id="botheredByWorries" name="botheredByWorries" min="1"
                    max="5" value="0" onchange="showSize('lblQ13', this.value);">
                <label id="lblQ13"></label>5
            </div>

            <div class="carousel-item">
                <label for="difficultyConcentrating">14. Do you find it difficult to concentrate on things?</label><br>
                1<input required type="range" class="slidecontainer" id="q2" name="q2" min="1"
                    max="5" value="0" onchange="showSize('lblQ14', this.value);">
                <label id="lblQ14"></label>5
            </div>

            <div class="carousel-item">
                <label for="comparisonFreq">15. How often do you compare yourself to other successful people through the use of social media?</label><br>
                1<input required type="range" class="slidecontainer" id="comparisonFreq" name="comparisonFreq" min="1"
                    max="5" value ="0"onchange="showSize('lblQ15', this.value);">
                <label id="lblQ15"></label>5
            </div>

            <div class="carousel-item">
                <label for="comparisonFeeling">16. Following the previous question, how do you feel about these comparisons, generally speaking?</label><br>
                1<input required type="range" class="slidecontainer" id="comparisonFeeling" name="comparisonFeeling" min="1"
                    max="5" value="0" onchange="showSize('lblQ16', this.value);">
                <label id="lblQ16"></label>5
            </div>


            <div class="carousel-item">
                <label for="validationFreq">17. How often do you look to seek validation from features of social media?</label><br>
                1<input required type="range" class="slidecontainer" id="validationFreq" name="validationFreq" min="1"
                    max="5" value="0" onchange="showSize('lblQ17', this.value);">
                <label id="lblQ17"></label>5
            </div>

            <div class="carousel-item">
                <label for="depressionFreq">18. How often do you feel depressed or down?</label><br>
                1<input required type="range" class="slidecontainer" id="depressionFreq" name="depressionFreq" min="1"
                    max="5" value="0" onchange="showSize('lblQ18', this.value);">
                <label id="lblQ18"></label>5
            </div>


            <div class="carousel-item">
                <label for="dailyInterestFluctuation">19. How frequently does your interested in daily activities fluctuate?</label><br>
                1<input required type="range" class="slidecontainer" id="dailyInterestFluctuation" name="dailyInterestFluctuation" min="1"
                    max="5" value="0" onchange="showSize('lblQ19', this.value);">
                <label id="lblQ19"></label>5
            </div>


            <div class="carousel-item">
                <label for="noPurpose">20.How often do you use social media without a specific purpose? </label><br>
                <ul class="likert">
                    <div class="slidecontainer">
                       <p>1<input required type="range" name="noPurpose" min="1" max="5" value="0">5</p>
                    </div>
                </ul>
            </div>

    <!-- ... Repeat for other slides ... -->

</div>

<!-- Navigation Arrows -->
<a class="carousel-control-prev" href="#carouselForm" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselForm" role="button" data-slide="next" style="color: black;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>

</div>
</div>
<label for="mentalHealthScore">Your Mental Health Score: </label>
<span id="mentalHealthScoreText">Calculating...</span><br><br>
<button type="submit">Submit Survey</button>
</form>
</div>
</div>
</div>

                            
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <script src="/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      document.getElementById('dashboard').addEventListener('click', function() {
        // Use JavaScript to simulate a click on the link that triggers the GET request
        window.location.href = '/dashboard';
      });
      document.getElementById('survey').addEventListener('click', function() {
        // Use JavaScript to simulate a click on the link that triggers the GET request
        window.location.href = '/survey';
      });
      document.getElementById('report').addEventListener('click', function() {
        // Use JavaScript to simulate a click on the link that triggers the GET request
        window.location.href = '/report';
      });
      // Function to calculate the score
      function updateCurrentLocation() {
            // Use the Geolocation API to get the user's current location
            navigator.geolocation.getCurrentPosition(
                position => {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    // Use a reverse geocoding service to get the city based on coordinates
                    fetch(`https://geocode.xyz/${latitude},${longitude}?json=1`)
                        .then(response => response.json())
                        .then(data => {
                            //The code below sets the city according to the user's location
                            // const city = data.city || 'Unknown';
                            const city = 'Provo';
                            document.getElementById('originText').innerText = city;
                        })
                        .catch(error => {
                            console.error('Error fetching location data', error);
                            document.getElementById('originText').innerText = 'Unknown';
                        });
                },
                error => {
                    console.error('Error getting location', error);
                    document.getElementById('originText').innerText = 'Unknown';
                }
            );
        }

        // Call the function to update current location on page load
        updateCurrentLocation();

        // Function to calculate the score
        function calculateScore(formData) {
            let total = 0;

            // Questions to exclude from the total
            const excludedQuestions = ['age', 'gender', 'relationshipStatus', 'occupation', 'mediaUser', 'avgTime', 'comparisonFeeling'];

            // Sum all Likert scale values except those excluded
            for (const key in formData) {
                if (formData.hasOwnProperty(key) && !excludedQuestions.includes(key)) {
                    const value = parseInt(formData[key]);
                    if (!isNaN(value)) {
                        total += value;
                    } else {
                        console.error(`Invalid value for question ${key}: ${formData[key]}`);
                        return NaN; // Return NaN if there's an invalid value
                    }
                }
            }

            // Calculate the score based on a simplified formula
            const intermediateScore = (total - 11) / 12;
            const finalScore = 100 - intermediateScore;

            return finalScore.toFixed(2); // Return the score rounded to 2 decimal places
        }

        // Function to handle form submission
        function handleSubmit(event) {
    event.preventDefault(); // Prevents the default form submission

    // Get form data
    const formData = {};

    // Loop through form elements and extract values
    const formElements = document.getElementById('formData').elements;
    let isFormValid = true; // Flag to track form validity

    for (let i = 0; i < formElements.length; i++) {
        const element = formElements[i];

        // Check if the element has a name and is a likert input
        if (element.name && element.type === 'range') {
            formData[element.name] = element.value;

            // Check if the value is 0 (not answered)
            if (element.value === '0') {
                isFormValid = false;
                break; // Break out of the loop if any question is unanswered
            }
        }
    }

    updateCurrentLocation();

    if (isFormValid) {
        // Calculate the score
        const score = calculateScore(formData);

        // Check if the score is a valid number
        if (!isNaN(score)) {
            // Display the score
            document.getElementById('mentalHealthScoreText').innerText = score + '%';

            // Log or use the score as needed
            console.log('Calculated Score:', score);
        } else {
            // Display an error message for invalid score
            alert('Error calculating the score. Please try again.');
        }
    } else {
        // Display an error message or take other actions
        alert('Please answer all questions before submitting.');
    }
}


        // Attach event listener to the form
        document.getElementById('formData').addEventListener('submit', handleSubmit);
    </script>
    <style>
        .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }

        .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
    </style>
  </body>
</html>

